<%= form_with model: workout do |f| %>
    <%= render 'errors', workout: @workout %>
    
    <div class="form-group">
        <%= f.text_field :trainer, class:"form-control", value: @current_user.name  %>
    </div>      
      
   <div class="input-group" style="height: 100px;">
        <span class="input-group-text">Warmup</span>
        <%= f.text_area :warmup, class: "form-control", rows: 2%>
   </div>


   <div class="input-group">
        <span class="input-group-text">Workout</span>
        <%= f.text_area :body, class: "form-control", rows: 5%>
   </div>
   <div class="input-group" style="height: 100px;">
        <span class="input-group-text">Finisher</span>
        <%= f.text_area :finish, class: "form-control", rows: 3%>
   </div>
    
   

    <div class="field form-group">
        <%= f.number_field :user_id, id: :workout_user_id, class:"form-control", value: @current_user.id, type: :hidden %>
    </div>
    
    <p>
     <%= f.label :status %><br>
     <%= f.select :status, ['public', 'private'], selected: 'public' %>
     </p>
    
    <br/>

    <%= f.submit "Create", class: "btn btn-success" %>
 <% end %>
