<%= form_with model: workout do |f| %>
    <p> <%= f.label :creater  %>           <%= f.text_field :trainer %></p>

    <p><%= f.label :Workout_Name  %> <%= f.text_field :name %></p>

    <p><%= f.label :description  %></p>
    <p><%= f.text_area :description, size: "30x10"  %></p>
    <% workout.errors.full_messages_for(:description).each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
    <% end %>

    <p><%= f.label :warmup  %></p>
    <p><%= f.text_area :warmup %></p>

    <p><%= f.label :workout  %></p>
    <p><%= f.text_area :body %></p>

    <p><%= f.label :finish  %></p>
    <p><%= f.text_area :finish %></p>

    <div class="field form-group">
        <%= f.number_field :user_id, id: :workout_user_id, class:"form-control", value: @current_user.id, type: :hidden %>
    </div><br/>

    <%= f.submit %>
 <% end %>