<h1><%= @workout.name.capitalize %></h1>

<p> Workout created by: <%= @workout.trainer.capitalize %></p>

<div id="show">
    <div class="card">
        <h5 class="card-header">Warmup</h5>
        <div class="card-body">
            <p class="card-text" id="body"><%= @workout.warmup %></p>
        </div>
    </div>

    <div class="card mt-3">
    <h5 class="card-header">Workout</h5>
    <div class="card-body">
        <p class="card-text" id="body"><%= @workout.body %></p>
    </div>
    </div>

    <div class="card  mt-3">
    <h5 class="card-header">Finisher</h5>
    <div class="card-body">
        <p class="card-text" id="body"><%= @workout.finish %></p>
    </div>
    </div>

</div>


<strong>Leaderboard</strong><br/>
<%= render 'attempts/attempt', workout: @workout %>
<%# render(@workout.attempts.order('minutes','seconds'))  || 'No times have been submitted to leaderboard' %>

<br/>
<strong>Enter your time</strong>
<%= render 'attempts/form' %>



<br/>
<%= link_to "Home", workouts_path, class: "btn btn-outline-secondary btn-sm" %> | <%= link_to "Edit", edit_workout_path(@workout), class: "btn btn-outline-secondary btn-sm" %>
