<h1><%= @workout.name.capitalize %></h1>

<p> Workout created by: <%= @workout.trainer.capitalize %></p>

<%= @workout.warmup %><br/>
<%= @workout.body %><br/>
<%= @workout.finish %><br/>

<strong>Leaderboard</strong><br/>
<%= render 'attempts/attempt', workout: @workout %>
<%# render(@workout.attempts.order('minutes','seconds'))  || 'No times have been submitted to leaderboard' %>

<br/>
<strong>Enter your time</strong>
<%= render 'attempts/form' %>



<br/>
<%= link_to "Home", workouts_path, class: "btn btn-outline-secondary btn-sm" %> | <%= link_to "Edit", edit_workout_path(@workout), class: "btn btn-outline-secondary btn-sm" %>
