<h3> Workout created by: <%= @workout.trainer.capitalize %></h3>


    <div class="card">
        <h5 class="card-header">Warmup</h5>
        <div class="card-body">
            <p class="card-text" id="show"><%= @workout.warmup %></p>
        </div>
    </div>

    <div class="card mt-3">
    <h5 class="card-header">Workout</h5>
    <div class="card-body">
        <p class="card-text" id="show"><%= @workout.body %></p>
    </div>
    </div>

    <div class="card  mt-3">
    <h5 class="card-header">Finisher</h5>
    <div class="card-body">
        <p class="card-text" id="show"><%= @workout.finish %></p>
    </div>
    </div>



<strong>Leaderboard</strong><br/>
<%= render 'attempts/attempt', workout: @workout %>
<%# render(@workout.attempts.order('minutes','seconds'))  || 'No times have been submitted to leaderboard' %>

<br/>
<strong>Enter your time</strong>
<div>
<%= render 'attempts/form' %>
</div>


<br/>
<%= link_to "Home", workouts_path, class: "btn btn-outline-secondary btn-sm" %> | <%= link_to "Edit", edit_workout_path(@workout), class: "btn btn-outline-secondary btn-sm" %> |
<%= link_to "Delete", workout_path(@workout), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                }, class: "btn btn-outline-secondary btn-sm" %></td>
