<%= form_with model: [@workout, @workout.attempts.build] do |f| %>

<div class="input-group">
        <span class="input-group-text">Name</span>
        <%= f.text_area :name, class: "form-control", style: "height: 38px;" %>
</div>

<div class="input-group">
        <span class="input-group-text">Minutes</span>
        <%= f.text_area :minutes, class: "form-control", style: "height: 38px;" %>
        <span class="input-group-text">Seconds</span>
        <%= f.text_area :seconds, class: "form-control", style: "height: 38px;" %>
</div>


<%= f.text_field :user_id, value: @current_user.id, type: :hidden %>

<%= f.submit %>


<% end %>

