<% # Project Navigation Bar %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-md">     
    <% # Navbar Brand %>
    <%= link_to "About", about_path, class: "navbar-brand" %>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <% # Navbar if the user is logged in %>
      <% if @current_user %>
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Workouts", workouts_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "New", new_workout_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Random", workouts_random_path, class: "nav-link active" %>
          </li>
      </ul>
      <% # Logout moved to the right of the navbar %>
      <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <%= link_to "Log Out", session_path, class: "nav-link", data: {
                turbo_method: :delete,
                turbo_confirm: "You will be logged out of the application?"
              } %>
          </li>
      </ul>
      
      <% # Navbar if there is no one logged in. Login or Register are located to the right %>
      <% else %>
      <ul class="navbar-nav  ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Login", new_session_path, class: "nav-link mr" %>
          </li>
          <li class="nav-item">
            <%= link_to "Register", new_user_path, class: "nav-link" %>
          </li>
      </ul>
      <% end %> 
    </div>
  </div>
</nav>